<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
    <title>Netflux2</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body { font-family: Arial, sans-serif; }
        .navbar { background-color: black; color: white; padding: 8px; border-radius: 10px 10px 0 0; display: flex; justify-content: space-between; position: relative}
        .menu { cursor: pointer; }
        .menu-options { display: none; position: absolute; background: white; color: black; top: 40px; left: 10px; padding: 10px; border: 1px solid black; }
        .menu-options a { display: block; text-decoration: none; color: black; padding: 5px; }
        .container { display: flex; }
        .column { flex: 1; padding: 20px; background-color: #f4f4f4 }
        .columnWide { flex: 2; padding: 20px; background-color: #f4f4f4 }
        button { margin: 5px 0; padding: 5px 10px; width: 150px; border: none; background-color: #007BFF; color: white; cursor: pointer; }
        label { width: 142px }
        input {width: 142px}
        select { width: 150px }
        #variables { height: 140px;
}
    </style>
</head>
<body>
    <div class="navbar">
        <div class="menu" onclick="toggleMenu()">☰</div>
        <div class="menu-options" id="menu-options">
            <a href="#" onclick="triggerFileInput();">Open Model</a>
            <a href="#" onclick="downloadmodel();">Download as Python</a>
            <a href="#" onclick="downloadxgmml();">Download as XGMML</a>
            <a href="/help" target="__blank">Help</a>
            <a href="/about" target="__blank">About</a>
        </div>
        <div><b>Netflux2_alpha2</b></div>
    </div>
    <div class="container">
        <div class="column">
            <h3>Simulation Settings</h3>
            <label>Time Span:<br> <input type="number" id="tmax" value=10></label><br>
            <label for="variables">Species to Plot:<br></label>
            <select id="variables" multiple>
                <!-- Options will be dynamically added here by openmodel() -->
            </select><br><br>
            <button onclick="simulate()" style="background-color: red; color: white;">Simulate</button><br>
            <button onclick="replot()">Plot</button><br>
            <button onclick="resetparams()">Reset Parameters</button><br>
            <button onclick="resetsim()">Reset Simulation</button><br>
            <label id="status">Status: Loading</label>
        </div>
        <div class="column">
            <!-- BUG: parameters load but can't yet be refreshed -->
            <h3>Species Parameters</h3>
            <label for="speciesList">Species:<br></label>
            <select id="speciesList" onchange="getSelectedSpeciesParams()">
                <!-- speciesList is populated by openmodel() -->
            </select><br>
            <!-- load the values for the selected species -->
            <label>Y0:<br> <input type="number" id="y0" onchange="updateSpeciesParams()"></label><br>
            <label>Ymax:<br> <input type="number" id="ymax" onchange="updateSpeciesParams()"></label><br>
            <label>tau:<br> <input type="number" id="tau" onchange="updateSpeciesParams()"></label><br>
            
            <h3>Reaction Parameters</h3>
            <label for="reactionList">Reaction:<br></label>
            <select id="reactionList" onchange="getSelectedReactionParams()">
                <!-- reactionList is populated by openmodel() -->
            </select><br>
            <!-- load the values for the selected reaction -->
            <label>W:<br> <input type="number" id="w" onchange="updateReactionParams()"></label><br>
            <label>n:<br> <input type="number" id="n" onchange="updateReactionParams()"></label><br>
            <label>EC50:<br> <input type="number" id="ec50" onchange="updateReactionParams()"></label><br>
        </div>
        <div class="columnWide">
            <h3>Plot</h3>
            <!-- <img id="plot" src="images/Netflux_logo.png" alt="Simulation Plot" style="width:50%;"> -->
            <img id="plot" src="{{ url_for('static', filename='Netflux_logo.png') }}" alt="Simulation Plot" style="max-width: 400px">
        </div>
    </div>
    
    <form style="display:none;">
        <input type="file" name="file" id="fileInput" onchange="openmodel();">
    </form>
    
    <script>
        function toggleMenu() {
            let menu = document.getElementById("menu-options");
            menu.style.display = menu.style.display === "block" ? "none" : "block";
        }
        
        function triggerFileInput() {
            document.getElementById("fileInput").click();
            toggleMenu()
        }
            
        function openmodel(default_filename = null) { // default model filename specified in window.onload()
            var formData = new FormData();
            var fileInput = document.getElementById("fileInput");
            if (default_filename) { // load default model
                console.log("loading default model: ", default_filename);
                formData.append("filename", default_filename); // append filename to formData
            } else if (fileInput.files.length === 0) { // no model specified
                alert("Please select a file first.");
            return;
            } else { // load model from file dialog
                console.log("loading model from file dialog: ", fileInput.files[0]);
                formData.append("file", fileInput.files[0]);
            }
    
            $.ajax({
                url: "/openmodel",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.variables) {
                        //console.log("loading variable list")
                        let select = document.getElementById("variables");
                        select.innerHTML = ""; // Clear existing options
                        response.variables.forEach(variable => {
                        let option = document.createElement("option");
                        option.value = variable;
                        option.textContent = variable;
                        option.selected = true;
                        select.appendChild(option);
                        });
                    }                  
                    if (response.variables) { 
                        //console.log("loading species list")
                        var speciesSelect = document.getElementById("speciesList");
                        //console.log("speciesSelect:",speciesSelect)
                        speciesSelect.innerHTML = ""; // Clear existing options
                        response.variables.forEach(variable => {
                        var option = document.createElement("option");
                        option.value = variable;
                        option.textContent = variable;
                        speciesSelect.appendChild(option);
                     });
                     }               
                    if (response.reactionRules) {
                        //console.log("loading reaction list")
                        var reactionSelect = document.getElementById("reactionList");
                        reactionSelect.innerHTML = ""; // Clear existing options
                        response.reactionRules.forEach(reaction => {
                        var option = document.createElement("option");
                        option.value = reaction;
                        option.textContent = reaction;
                        reactionSelect.appendChild(option);
                    });
                    } 
                    resetparams();
                    document.getElementById("status").innerText = response.status; // BUG: not updating (need settimeout?)
                    console.log("open model")         
 },
                
                error: function(error) {
                    console.error("Error opening model:", error);
                }
            });
        }
                   
        function downloadmodel() {
            $.ajax({
                url: "/downloadmodel",
                type: "POST",
                contentType: "application/json",
                data: [],
                success: function(response) {
                    toggleMenu();
                    //console.log("Response:", response); // Log the entire response object
                    if (response.filenames) {
                        //console.log("filenames returned to downloadmodel")
                        const files = response.filenames;
                        files.forEach(file => {
                            const filePath = `/uploads/${file}`;
                            $.ajax({
                                url: filePath,
                                type: 'HEAD',
                                success: function() {
                                    console.log("File downloading:", filePath); // Log file found
                                    const link = document.createElement('a');
                                    link.href = filePath;
                                    link.download = file;
                                    document.body.appendChild(link);
                                    link.click();
                                    document.body.removeChild(link);
                                },
                                error: function() {
                                    console.error("File not found:", filePath);
                                    alert("File not found: " + filePath);
                                }
                            }); // ajax inside forEach
                        }); // end forEach loop
                        document.getElementById("status").innerText = response.status;
                    }    
                }, // end of success function
                error: function(error) {
                    console.error("Error exporting model:", error);
                }
            });
        } // end of downloadmodel function    
        
        function downloadxgmml() {
            $.ajax({
                url: "/downloadxgmml",
                type: "POST",
                contentType: "application/json",
                data: [],
                success: function(response) {
                    toggleMenu();
                    //console.log("Response:", response); // Log the entire response object
                    if (response.filename) {
                        console.log("filename returned from downloadxgmml")
                        const filePath = `/uploads/${response.filename}`;
                        $.ajax({
                            url: filePath,
                            type: 'HEAD',
                            success: function() {
                                console.log("File downloading:", filePath); // Log file found
                                const link = document.createElement('a');
                                link.href = filePath;
                                link.download = response.filename;
                                document.body.appendChild(link);
                                link.click();
                                document.body.removeChild(link);
                            },
                            error: function() {
                                console.error("File not found:", filePath);
                                alert("File not found: " + filePath);
                            }
                        }); // ajax 
                        document.getElementById("status").innerText = response.status;
                    }    
                }, // end of success function
                error: function(error) {
                    console.error("Error exporting model:", error);
                }
            });
        } // end of downloadxgmml function
           
        function simulate() {
            let data = {
                tmax: document.getElementById("tmax").value,
                selectedVariables: getSelectedVariables()
                };
            
            $.ajax({
                url: "/simulate",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(response) {
                    document.getElementById("status").innerText = response.status;
                    if (response.plot) {
                        document.getElementById("plot").src = "data:image/png;base64," + response.plot;
                    }
                    console.log("simulate")
                }
            });
        }
        
        function replot() {
            let data = {
                selectedVariables: getSelectedVariables()
            };
            $.ajax({
                url: "/replot",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(response) {
                    document.getElementById("status").innerText = response.status;
                    if (response.plot) {
                        document.getElementById("plot").src = "data:image/png;base64," + response.plot;
                    }
                    console.log("replot")
                }
            });
        }

        function resetparams() {
            $.ajax({
                url: "/resetparams",
                type: "POST",
                contentType: "application/json",
                success: function(response) { // returns all species and reaction params as lists
                    
                    // loading values for selected species into web fields
                    var speciesIDs = response.speciesIDs
                    var selectedSpecies = document.getElementById("speciesList").value
                    var pos = speciesIDs.findIndex(function(species) {
                        return species === selectedSpecies;
                    });                            
                    document.getElementById("y0").value = response.y0[pos]
                    document.getElementById("ymax").value = response.ymax[pos]
                    document.getElementById("tau").value = response.tau[pos]
                    
                    // loading values for selected reactions into web fields
                    var reactionRules = response.reactionRules
                    var selectedReaction = document.getElementById("reactionList").value
                    var pos = reactionRules.findIndex(function(reaction) {
                        return reaction == selectedReaction;
                    })
                    document.getElementById("w").value = response.w[pos]
                    document.getElementById("n").value = response.n[pos]
                    document.getElementById("ec50").value = response.ec50[pos]
                                        
                    console.log("reset params")
                    document.getElementById("status").innerText = response.status;
                },
                error: function(error) {
                    console.error("Error resetting parameters:", error);
                }
            });
        }
        
        function resetsim() {
            $.ajax({
                url: "/resetsim",
                type: "POST",
                contentType: "application/json",
                success: function(response) {
                    document.getElementById("status").innerText = response.status;
                    document.getElementById("tmax").value = response.tmax; // FIXME: needed here or remove?
                    console.log("reset simulation")
                }
            });
        }

        function getSelectedVariables() {
            let select = document.getElementById("variables");
            let selectedVariables = [];        
            for (let option of select.options) {
                if (option.selected) {
                    selectedVariables.push(option.value);
                }
            }   
            return selectedVariables;
        }

        function updateSpeciesParams() {
            let selectedSpecies = document.getElementById("speciesList").value;
            let y0 = document.getElementById("y0").value;
            let ymax = document.getElementById("ymax").value;
            let tau = document.getElementById("tau").value;
            $.ajax({
                url: '/updateSpeciesParams', // calls webappy.py/updateSpeciesParams
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    selectedSpecies: selectedSpecies,
                    y0: y0,
                    ymax: ymax,
                    tau: tau
                }),
                success: function(response) {
                    console.log("Species parameters updated for ", selectedSpecies);
                },
                error: function(error) {
                    console.error("Error updating species parameters:", error);
                }
            });
        }

        function updateReactionParams() { //updates parameters from the form
            var selectedReaction = document.getElementById("reactionList").value;
            var w = document.getElementById("w").value;
            var n = document.getElementById("n").value;
            var ec50 = document.getElementById("ec50").value;
            $.ajax({
                url: '/updateReactionParams', // calls webapp.py/updateReactionParams
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    selectedReaction: selectedReaction,
                    w: w,
                    ec50: ec50,
                    n: n
                }),
                success: function(response) {
                    console.log("Reaction parameters updated for ", selectedReaction);
                },
                error: function(error) {
                    console.error("Error updating reaction parameters:", error);
                }
            });
        }

        function getSelectedSpeciesParams() { // updates form from model
            var selectedSpecies = document.getElementById("speciesList").value;
            $.ajax({
                url: "/getSelectedSpeciesParams", // calls webapp.py/getSelectedSpeciesParams and returns the species parameters
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ selectedSpecies: selectedSpecies }),
                success: function(response) {
                    // Assuming response contains y0, ymax, and tau for the selected species
                    // bug says no value
                    document.getElementById("y0").value = response.y0;
                    document.getElementById("ymax").value = response.ymax;
                    document.getElementById("tau").value = response.tau;
                    console.log("Species parameters refreshed for ", selectedSpecies);
                },
            });
        }

        function getSelectedReactionParams() { // updates form from model
            var selectedReaction = document.getElementById("reactionList").value;
            $.ajax({
                url: "/getSelectedReactionParams", // calls webapp.py/getSelectedReactionParams and returns the Reaction parameters
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ selectedReaction: selectedReaction }),
                success: function(response) {
                    // Assuming response contains w, ec50, and n for the selected Reaction
                    // bug says no value
                    document.getElementById("ec50").value = response.ec50;
                    document.getElementById("w").value = response.w;
                    document.getElementById("n").value = response.n;
                    console.log("Reaction parameters refreshed for ", selectedReaction);
                },
            });
        }


        window.onload = function() {
            console.log("loading webapp")
            var default_filename = "exampleNet.xlsx";           // automatically load exampleNet from uploads folder
            //var default_filename= [];                        // don't automatically load a network'
            if (default_filename.length > 0) {
                openmodel(default_filename);
                document.getElementById("status").innerText = "Status: exampleNet loaded";
            } else {
                document.getElementById("status").innerText = "Status: Open a model";
            }
  
        };

    </script>
</body>
</html>
